<div class="modal fade" id='forward_modal' tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">微博转发：</h4>
			</div>
			<div class="modal-body">
				<form class="form" id='forward_form' action='{% url "wb:forward" %}' method='POST'>
					{% csrf_token %}
					<textarea name='msg' class='form-control' placeholder='转发评论，上限500字符' rows=8 maxlength='500'></textarea>
					<input id='forward_weibo' class='hidden' name='wid'>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id='btn-modal-hide' data-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary" form='forward_form' onclick='wb_update()'>转发</button>
			</div>										
		</div>
	</div>
</div>