<div class="panel panel-default container-fluid">
	<div class="panel-heading row">
		<span class='col-sm-4'>作者: {{ wb.text.author }}</span>
		<span class='col-sm-5'>时间: {{ wb.time_create }}</span>
		<a class='btn btn-danger col-sm-1' onclick=''>点赞: 0</a>
		{% if wb.user.id == user.id %}
		<a class='btn btn-info col-sm-1' disabled>转发: 0</a>
		{% else %}
		<a class='btn btn-info col-sm-1' data-toggle="modal" data-target="#forward_modal" onclick='forward_this({{ wb.id }})'>转发: 0</a>
		{% endif %}
		<a class='btn btn-primary col-sm-1' onclick='comm_this(this, {{ wb.id }})'>评论: 0</a>
	</div>
	<div class="panel-body">
		<p>{{ wb.text.msg }}</p>
		{% for comm in wb.comments.all %}
			<div class="panel panel-default container-fluid">{% include "weibo\new_comm.html" %}</div>
		{% endfor %}
	</div>
</div>