{% extends 'base_page.html' %}
{% block title %}{{ wb_user.name }} 的主页{% endblock %}
{% block right %}
<div class="jumbotron">
	<h1>{{ wb_user.name }} 的主页</h1>
	<p>个性签名...</p>
	<p>
	{% if wb_user in user.followers.all %}
		<a class="btn btn-success btn-lg" role="button" onclick='unfollow_this(this)'>已关注</a>
	{% elif wb_user.id == user.id %}
		<a class="btn btn-primary btn-lg" role="button" disabled>关注</a>
	{% else %}
		<a class="btn btn-primary btn-lg" role="button" onclick='follow_this(this)'>关注</a>
	{% endif %}
	</p>
</div>
{% for wb in wbs %}
	{% include "weibo\list_wb.html" %}
{% endfor %}
{% endblock %}
{% block modal %}
	{% include "weibo\forward_modal.html" %}
{% endblock %}
{% block script %}
<script>
function follow_this(e){
	// 关注用户
	var xhr = new XMLHttpRequest();
	xhr.open('GET', '{% url "wb:follow" %}?uid={{ wb_user.id }}', true);
	xhr.onreadystatechange=function(){
		if(xhr.readyState == 4 && xhr.status == 200){
			e.setAttribute('onclick', 'unfollow_this(this)');
			e.setAttribute('class', 'btn btn-success btn-lg');
			e.innerText = '已关注';
		};
	};
	xhr.send();
};

function unfollow_this(e){
	// 解除关注
	var xhr = new XMLHttpRequest();
	xhr.open('GET', '{% url "wb:unfollow" %}?uid={{ wb_user.id }}', true);
	xhr.onreadystatechange=function(){
		if(xhr.readyState == 4 && xhr.status == 200){
			e.setAttribute('onclick', 'follow_this(this)');
			e.setAttribute('class', 'btn btn-primary btn-lg');
			e.innerText = '关注';
		};
	};
	xhr.send();	
}

{% include "weibo\page_js.html" %}
</script>
{% endblock %}