<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-theme.min.css' %}" />
	<link rel='stylesheet' type='text/css' href="{% static 'bootstrap3\css\bootstrap-datetimepicker.min.css' %}" />
	{% block link %}{% endblock %}
    <title>{% block title %}标题{% endblock %}</title>
</head>
<body class='container-fluid'>

<header class='row'>
	{% block base_header %}页眉{% endblock %}
</header>

{% block base_header_to_content %}{% endblock %}

<content class='row'>
{% block base_content %}{% endblock %}
</content>

{% block base_content_to_footer %}{% endblock %}

<footer class='row'>
	{% block base_footer %}
		<p class='text-center'><b><a>***感谢访问***</a></b></p>
	{% endblock %}
</footer>

{% block base_more %}{% endblock %}
<!-- <script src="{% static 'bootstrap3\js\jquery.min.js' %}" charset="UTF-8"></script> -->
<script src="{% static 'bootstrap3\js\bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\npm.js' %}"></script>
<script src="{% static 'bootstrap3\js\moment.min.js' %}"></script>
<script src="{% static 'bootstrap3\js\bootstrap-datetimepicker.min.js' %}" charset="UTF-8"></script>
<script src="{% static 'bootstrap3\js\bootstrap-datetimepicker.zh-CN.js' %}" charset="UTF-8"></script>
{% block base_script %}{% endblock %}
</body>
</html>